<template>
  <v-row>
    <v-col xs="12" md="6" id="canvasContainer" ref="canvasContainer">
      <canvas id="imgEdit" ref="imgCanvas" width="600" height="600"></canvas>
    </v-col>
    <v-col xs="12" md="6">
      <v-card>
        <v-card-title>
          <h4>Text Extraction tool</h4>
        </v-card-title>
        <div v-if="ocrWorking">
          <v-card-text>
            <p>Recognizing text in image, please wait a few seconds</p>
            <p>Loading</p>
            <v-progress-circular
              :rotate="360"
              :size="100"
              :width="15"
              :value="ocrProgress * 100"
              color="primary"
            >
              {{ parseInt(ocrProgress * 100) }} %
            </v-progress-circular>
          </v-card-text>
        </div>
        <div v-else>
          <v-card-text>
            <p>
              In order for the text extraction to work, please use the eraser
              tool to remove all parts of the image that contain text that is
              not an artist - track name
            </p>
            <div>
              <v-row>
                <v-col xs4>
                  Eraser width:
                </v-col>
                <v-col xs8>
                  <v-slider v-model="eraserSize" min="10" max="80"></v-slider>
                </v-col>
              </v-row>
              <v-row>
                <v-col xs4>
                  Contrast:
                </v-col>
                <v-col xs8>
                  <v-slider v-model="contrast" min="0" max="100"></v-slider>
                </v-col>
              </v-row>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn text @click="searchTextInImage">Get text from image</v-btn>
            <v-btn text @click="resetImage">Reset image</v-btn>
          </v-card-actions>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { fabric } from 'fabric'
import { mapState } from 'vuex'

export default {
  name: 'CanvasImg',
  props: {
    searchImage: { type: File, default: null }
  },
  data() {
    return {
      fab: null,
      hovering: false,
      clicking: false,
      clickStartCoords: {
        x: 0,
        y: 0
      },
      raf: null,
      canv: null,
      ctx: null,
      eraserSize: 20,
      contrast: 50,
      cursor: new fabric.Circle({
        radius: 10,
        stroke: 'black',
        strokeWidth: 2,
        left: -20,
        top: -20,
        fill: 'rgba(0,0,0,0)'
      }),
      lastCanvas: null,
      fabricImageObject: null,
      imgFilters: null
    }
  },
  computed: {
    ...mapState({
      ocrProgress: state => state.ocrProgress,
      ocrWorking: state => state.ocrWorking
    })
  },
  watch: {
    searchImage: function() {
      this.setImage()
    },
    eraserSize() {
      this.fab.freeDrawingBrush.width = this.eraserSize
      this.cursor.set('radius', this.eraserSize / 2)
      this.fab.renderAll()
    },
    contrast() {
      this.fabricImageObject.filters[0] = new this.imgFilters.Contrast({
        contrast: parseFloat((this.contrast - 50) / 100)
      })
      this.fabricImageObject.applyFilters()
      this.fab.renderAll()
    }
  },
  created() {
    window.addEventListener('resize', this.resizeCanvas)
  },
  mounted() {
    var webglBackend
    try {
      webglBackend = new fabric.WebglFilterBackend()
    } catch (e) {
      console.log(e)
    }

    fabric.filterBackend = webglBackend

    fabric.filterBackend = fabric.initFilterBackend()
    this.canv = this.$refs.imgCanvas

    this.ctx = this.canv.getContext('2d')
    //
    this.fab = new fabric.Canvas('imgEdit', {
      width: 600,
      height: 600
    })
    this.imgFilters = fabric.Image.filters
    this.fab.isDrawingMode = true
    this.fab.freeDrawingBrush.width = this.eraserSize
    this.fab.freeDrawingBrush.color = 'black'
    this.setImage()
    this.fab.add(this.cursor)
    this.fab.on('mouse:move', obj => {
      this.cursor.top = obj.e.layerY - this.cursor.radius
      this.cursor.left = obj.e.layerX - this.cursor.radius
      this.fab.renderAll()
    })
    this.fab.on('mouse:out', obj => {
      // put circle off screen
      this.cursor.top = -100
      this.cursor.left = -100
      this.fab.renderAll()
    })
    this.resizeCanvas()
  },
  methods: {
    resizeCanvas() {
      const outerCanvasContainer = this.$refs.canvasContainer
      const containerWidth = outerCanvasContainer.clientWidth - 24

      this.fab.setDimensions({ width: containerWidth, height: containerWidth })

      this.setImage()
    },
    setImage() {
      var fileReader = new FileReader()
      fileReader.onload = e => {
        var imgg = new Image()

        imgg.onload = () => {
          var hRatio = this.canv.width / imgg.width
          var vRatio = this.canv.height / imgg.height
          var ratio = Math.min(hRatio, vRatio)

          fabric.Image.fromObject(imgg, (bgImage, err) => {
            // this.fab.setBackgroundImage(
            //   bgImage,
            //   this.fab.renderAll.bind(this.fab),
            //   {
            //     scaleX: ratio / 2,
            //     scaleY: ratio / 2
            //   }
            // )
            // this.fab.renderAll()
            const oImg = bgImage.set(0, 0).scale(ratio / 2)
            this.fab.add(oImg)
            this.fabricImageObject = oImg
          })
        }

        imgg.src = e.target.result
      }
      fileReader.readAsDataURL(this.searchImage)
    },
    resetImage() {
      this.fab.clear()
      this.cursor.set({ left: -20, top: -20 })
      this.fab.add(this.cursor)
      this.setImage()

      this.fab.renderAll()
    },
    searchTextInImage() {
      var img = this.canv.toDataURL('image/png')

      this.$store.dispatch('imageToText', img)
    }
  }
}
</script>
<style scoped>
#imgCanvas {
  /* width: 100%; */
}
</style>
