<template>
  <div v-if="drawerTracks">
    <v-card class="mx-auto" v-for="(item, index) in drawerTracks" :key="index">
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">{{item.name}}</v-list-item-title>
          <v-list-item-subtitle>{{item.artists[0].name}}</v-list-item-subtitle>
          <v-list-item-subtitle>{{item.album.name}}</v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-avatar tile size="80" color="grey">
          <v-img :src="item.album.images[2].url" />
        </v-list-item-avatar>
      </v-list-item>

      <v-card-actions>
        <v-btn
          text
          @click.stop="replaceTrack({trackIndex: trackIndex, newSelectedTrackIndex: index>= selectedTrackIndex ? index+1 : index})"
        >Replace</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'OtherResultsList',
  computed: {
    ...mapState({
      drawerTracks: state => {
        if (!state.drawerTrack) return false
        const ret = [...state.drawerTrack.track.tracks]
        ret.splice(state.drawerTrack.track.selectedTrackIndex, 1)
        return ret
      },
      selectedTrackIndex: state => state.drawerTrack.track.selectedTrackIndex,
      trackIndex: state => {
        return state.drawerTrack.trackIndex
      }
    })
  },
  methods: {
    ...mapActions(['replaceTrack'])
  }
}
</script>