<template>
  <v-card :loading="pl.loading">
    <v-divider v-if="index > 0" :key="index"></v-divider>

    <v-list-item :key="pl.id">
      <v-list-item-avatar tile>
        <v-img :src="pl.image"></v-img>
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title>{{pl.name}}</v-list-item-title>
        <v-list-item-subtitle>Is {{pl.public ? "Public" : "Private"}} | Has already {{pl.tracksAmount}} tracks</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn
        text
        color="primary"
        class="add-btn"
        @click.stop="addToPlaylist(pl.id)"
      >Add songs to playlist</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'playlist-item',
  props: {
    pl: Object,
    index: Number
  },
  methods: {
    ...mapActions(['addToPlaylist'])
  }
}
</script>