<template>
  <v-flex xs12>
    <v-container fluid justify-space-between class="pt-0 pb-0">
      <v-row>
        <v-col cols="3" class="pl-0">
          <v-list-item>
            <v-list-item-avatar tile size="70" color="grey">
              <v-img :src="trackImage"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{trackName}}</v-list-item-title>
              <v-list-item-subtitle>{{trackArtist}}</v-list-item-subtitle>
              <v-list-item-subtitle>{{trackAlbumName}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-col>
        <v-col class="d-flex align-center">
          <v-layout row align-content-center align-center>
            <v-btn v-if="!isPlaying" icon class="white--text" @click="playSong">
              <v-icon>mdi-play</v-icon>
            </v-btn>
            <v-btn v-else icon class="white--text" @click="pauseSong">
              <v-icon>mdi-pause</v-icon>
            </v-btn>
            <!-- <span class="pr-4">{{currentTimeR}}</span> -->
            <v-slider
              @click="setCurrentTime"
              v-model="playedPercentage"
              dark
              hide-details
              class="pt-1 pr-2 pl-8"
            ></v-slider>
            <!-- <span class="pl-4">0:30</span> -->
          </v-layout>
        </v-col>
        <v-btn text icon class="white--text" id="close-player-btn" @click="resetPreviewedTrack">x</v-btn>
      </v-row>
    </v-container>
  </v-flex>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Player',
  data() {
    return {
      isPlaying: false,
      playedTrack: undefined,
      playedPercentage: 0,
      currentTime: '0:00'
    }
  },
  watch: {
    previewedTrack() {
      if (this.playedTrack) this.pauseSong()
      this.startSong()
    }
  },
  computed: {
    ...mapState({
      previewedTrack: state => state.previewedTrack
    }),
    trackName() {
      return this.previewedTrack.name
    },
    trackArtist() {
      return this.previewedTrack.artists[0].name
    },
    trackAlbumName() {
      return this.previewedTrack.album.name
    },
    trackImage() {
      return this.previewedTrack
        ? this.previewedTrack.album.images[1].url
        : '../assets/soundwave.jpg'
    },
    currentTimeR() {
      return this.currentTime
    }
  },
  methods: {
    startSong() {
      let audioObject = new Audio(this.$store.state.previewedTrack.preview_url)
      audioObject.play()
      this.isPlaying = true
      this.playedTrack = audioObject
      this.playedTrack.addEventListener('timeupdate', this._updateTimeSlider)
    },
    playSong() {
      if (this.playedTrack) {
        this.playedTrack.play()
        this.isPlaying = true
      } else {
        this.startSong()
      }
    },
    pauseSong() {
      this.playedTrack.pause()
      this.isPlaying = false
    },
    setCurrentTime() {
      this.playedTrack.currentTime =
        (this.playedPercentage * this.playedTrack.duration) / 100
    },
    _updateTimeSlider() {
      this.playedPercentage =
        (this.playedTrack.currentTime * 100) / this.playedTrack.duration
      const ct = parseInt(this.playedTrack.currentTime)
      this.currentTime = '0:' + ct.toString().padStart(2, '0')
    },
    resetPreviewedTrack() {
      this.$store.dispatch('resetPreviewTrack')
    }
  }
}
</script>
