<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :items="songs"
      :items-per-page="100"
      :loading="searchingTracks"
      hide-default-footer
      item-key="_id"
      show-select
      v-model="selectedSongs"
      :single-select="false"
      class="elevation-1"
    >
      <template v-slot:item="{ item, select, isSelected, index }">
        <SongResultRow
          :item="item"
          :select="select"
          :isSelected="isSelected"
          :index="index"
          :previewTrack="previewTrack"
          :saveTrack="saveTrack"
          :openDrawer="openDrawer"
          :changeSearchedRow="changeSearchedRow"
        />
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import SongResultRow from './SongResultRow'

export default {
  name: 'ResultsTable',
  components: { SongResultRow },
  props: {
    songs: Array,
    selected: Array,
    searchingTracks: Boolean,
    previewTrack: Function,
    saveTrack: Function,
    changeSearchedRow: Function,
    openDrawer: Function
  },
  data() {
    return {
      headers: [
        { text: 'Searched', value: 'searched' },
        { text: 'Name', value: 'name' },
        { text: 'Artist', value: 'artist' },
        { text: 'Album', value: 'album' },
        { text: 'Actions', value: '_id' }
      ],
      allSelected: false
    }
  },
  computed: {
    selectedSongs: {
      get: function() {
        return this.selected
      },
      set: function(s) {
        this.$store.dispatch('selectSongs', s)
      }
    }
  }
}
</script>
