<template>
  <tr>
    <td class="text-start">
      <v-simple-checkbox
        v-if="item.found"
        primary
        hide-details
        :value="isSelected"
        @input="select($event)"
      ></v-simple-checkbox>
    </td>
    <td class="text-xs-left">
      <v-edit-dialog
        :return-value.sync="item.searched"
        lazy
        large
        persistent
        @save="
          changeSearchedRow({ searchQuery: item.searched, songIndex: index })
        "
      >
        {{ item.searched }}
        <template v-slot:input>
          <v-text-field
            label="Edit"
            v-model="item.searched"
            single-line
            autofocus
          ></v-text-field>
        </template>
      </v-edit-dialog>
    </td>
    <td class="text-xs-left">{{ item.name }}</td>
    <td class="text-xs-left">{{ item.artist }}</td>
    <td class="text-xs-left">{{ item.album }}</td>
    <td class>
      <v-btn
        v-if="item.found"
        text
        icon
        small
        @click.stop="previewTrack(index)"
      >
        <v-icon>mdi-play-circle-outline</v-icon>
      </v-btn>
      <v-btn v-if="item.found" text icon small @click.stop="saveTrack(index)">
        <v-icon>mdi-heart</v-icon>
      </v-btn>
      <v-btn
        v-if="item.found"
        text
        icon
        small
        :href="item.spotifyURI"
        target="_blank"
      >
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
      <v-btn
        v-if="item.found && item.others"
        text
        icon
        small
        @click.stop="openDrawer(index)"
      >
        <v-icon>mdi-dots-horizontal</v-icon>
      </v-btn>
    </td>
  </tr>
</template>

<script>
export default {
  name: 'SongResultRow',
  props: {
    item: Object,
    index: Number,
    isSelected: Boolean,
    previewTrack: Function,
    saveTrack: Function,
    changeSearchedRow: Function,
    openDrawer: Function,
    select: Function
  }
}
</script>
