<template>
  <v-app dark>
    <v-app-bar clipped-left fixed app>
      <v-toolbar-title v-text="title" @click="$router.push('/')" />
      <v-spacer />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-navigation-drawer v-model="drawer" temporary fixed right width="45vw">
      <OtherResultsList />
    </v-navigation-drawer>
    <transition name="slide-fade">
      <v-footer fixed app v-if="previewedTrack">
        <Player />
      </v-footer>
    </transition>
  </v-app>
</template>

<script>
import OtherResultsList from '../components/OtherResultsList'
import Player from '../components/Player'
import { mapState, mapActions } from 'vuex'
export default {
  components: { OtherResultsList, Player },
  data() {
    return {
      title: 'Txt2SPl'
    }
  },
  computed: {
    ...mapState({
      previewedTrack: state => state.previewedTrack
    }),
    drawer: {
      get() {
        return this.$store.state.rightDrawer
      },
      set(value) {
        this.$store.commit('SET_DRAWER', value)
      }
    }
  }
}
</script>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
</style>
