<template>
  <v-card>
    <v-content>
      <p v-if="loginError">An error occured when attempting to log in.</p>
      <p>You are being logged in and redirected to the search results.</p>
    </v-content>
  </v-card>
</template>

<script>
export default {
  name: 'Auth',
  data() {
    return {
      loginError: false
    }
  },
  created() {
    const params = this.getHashParams()
    if (params.access_token) {
      // login successful
      this.$store.commit('setClientAccessToken', {
        accessToken: params.access_token
      })
      this.$store.dispatch('getUserInfo')
      this.$router.push('/results')
    } else {
      // user canceled login
      this.loginError = true
    }
    if (this.searchingTracks) {
      this.getTracksFromApi()
    }
  },
  methods: {
    getHashParams() {
      var hashParams = {}
      var e,
        r = /([^&;=]+)=?([^&;]*)/g,
        q = window.location.hash.substring(1)
      while ((e = r.exec(q))) {
        hashParams[e[1]] = decodeURIComponent(e[2])
      }
      return hashParams
    }
  }
}
</script>
