<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-xs-center">
        <logo />
      </div>
      <v-card max-width="600">
        <v-card-title class="headline"
          >Welcome to the spotify playlist helper Txt2Spl!</v-card-title
        >
        <v-card-text>
          <p>
            You can search tracks by entering text directly (one line = one
            search) or by first uploading an image containing text, the tool
            will then extract the text (useful to get playlists shared on IG).
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" text @click="resetState">Reset/Logout</v-btn>
          <v-spacer />
          <v-btn color="primary" text nuxt to="/search">Continue</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import { mapActions } from 'vuex'

export default {
  components: {
    Logo
  },
  methods: {
    ...mapActions(['resetState'])
  }
}
</script>
