<template>
  <div>
    <v-row>
      <transition>
        <v-col
          :cols="resultsCols"
          :class="{'shrink-results-table': resultsCols >= 11, 'expand-results-table': resultsCols < 11}"
        >
          <ResultsTable
            v-if="songs.length"
            :songs="songs"
            :selected="selected"
            :searchingTracks="saving"
            :previewTrack="previewTrack"
            :saveTrack="saveTrack"
            :changeSearchedRow="changeSearchedSong"
            :openDrawer="openDrawer"
          />
        </v-col>
      </transition>
      <transition name="fade">
        <v-col cols="1" v-if="selected.length">
          <v-btn v-if="showPlaylists" @click.stop="toggleShowPlaylists">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn v-else @click.stop="toggleShowPlaylists">
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-col>
      </transition>
      <transition name="fade">
        <v-col cols="6" v-if="showPlaylists && selected.length">
          <v-list three-line>
            <playlist-item v-for="(pl, index) in playlists" :key="pl.id" :pl="pl" :index="index"></playlist-item>
          </v-list>
        </v-col>
      </transition>
    </v-row>
    <v-snackbar
      :timeout="4000"
      :top="true"
      :color="snackColor"
      v-model="snackShown"
    >{{snackMessage}}</v-snackbar>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

import Player from '../components/Player'
import PlaylistItem from '../components/PlaylistItem'
import ResultsTable from '../components/ResultsTable'

export default {
  name: 'SearchResults',
  components: { Player, ResultsTable, PlaylistItem },
  created() {
    if (!this.songs.length) {
      this.getTracksFromApi()
    }
    this.getUserPlaylists()
  },
  data() {
    return {
      showPlaylists: false
    }
  },
  computed: {
    ...mapState({
      selected: state => state.selectedSongIds,
      searchingTracks: state => state.searchingTracks,
      songs: state => {
        return state.songs.map((song, index) => ({
          _id: index,
          searched: song.searched,
          found: song.found,
          spotifyURI: song.found
            ? song.tracks[song.selectedTrackIndex].external_urls.spotify
            : '',
          cover: song.found
            ? song.tracks[song.selectedTrackIndex].album.images[2].url
            : '',
          name: song.found ? song.tracks[song.selectedTrackIndex].name : '',
          artist: song.found
            ? song.tracks[song.selectedTrackIndex].artists[0].name
            : '',
          album: song.found
            ? song.tracks[song.selectedTrackIndex].album.name
            : '',
          others: song.tracks.length > 1
        }))
      },
      previewedTrack: state => state.previewedTrack,
      saving: state => state.saving,
      playlists: state => state.playlists,
      snackMessage: state => state.snackMessage,
      snackColor: state => state.snackColor,
      showSnack: state => state.showSnack
    }),
    resultsCols() {
      return this.selected.length ? (this.showPlaylists ? 5 : 11) : 12
    },
    snackShown: {
      get() {
        return this.showSnack
      },
      set() {
        this.$store.commit('hideSnack')
      }
    }
  },

  methods: {
    ...mapActions([
      'getUserPlaylists',
      'changeSearchedSong',
      'getTracksFromApi',
      'previewTrack',
      'saveTrack',
      'openDrawer'
    ]),
    toggleShowPlaylists() {
      this.showPlaylists = !this.showPlaylists
    }
  }
}
</script>

<style scoped>
.shrink-results-table {
  transition: all 0.5s 0.5s ease-in;
}
.expand-results-table {
  transition: all 0.5s ease-in;
}

.fade-enter-active {
  transition: all 0.5s 0.5s ease-in;
}
.fade-leave-active {
  transition: all 0.5s ease-in;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>