<template>
  <div>
    <v-row>
      <v-col>
        <div class="flex-grow-12 display-2">Search songs</div>
      </v-col>
    </v-row>
    <v-row justify="center" align-content="center">
      <v-col xs="6" md="3">
        <v-card @click="getImage">
          <v-list-item-avatar tile height="200" width="100%" color="grey">
            <v-icon size="150">mdi-image</v-icon>
          </v-list-item-avatar>
          <v-card-title>From an Image</v-card-title>
          <v-file-input
            style="display: none;"
            name="image-search-input"
            :value="searchImage"
            @change="changeSearchImage"
            ref="imageInput"
          />
        </v-card>
      </v-col>
      <v-col xs="6" md="3">
        <v-card @click="startSearchText">
          <v-list-item-avatar tile height="200" width="100%" color="grey">
            <v-icon size="150">mdi-card-text</v-icon>
          </v-list-item-avatar>
          <v-card-title>From text</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="searchImage">
      <v-col xs="12">
        <canvas-img :search-image="searchImage"></canvas-img>
      </v-col>
      <!-- <v-col xs="12">
        <v-btn @click="searchTextInImage">Get text from image</v-btn>
      </v-col> -->
    </v-row>
    <v-row v-if="searchText">
      <v-col xs12>
        <v-textarea
          outline
          name="search-tracks"
          textarea
          :value="searchText"
          @input="changeSearchText"
        />
        <v-btn color="info" id="search-btn" @click="loginOrSearch"
          >Search tracks</v-btn
        >
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import CanvasImg from '../components/CanvasImg'

export default {
  components: {
    'canvas-img': CanvasImg
  },
  data() {
    return {
      searchImage: null
    }
  },
  computed: {
    ...mapState({
      searchText: state => state.searchText,
      loggedIn: state => state.loggedIn
    })
  },
  methods: {
    ...mapActions([
      'changeSearchText',
      'getTracksFromApi',
      'spotifyLogin',
      'imageToText'
    ]),
    loginOrSearch() {
      if (this.loggedIn) {
        this.getTracksFromApi()
        this.$router.push('/results')
      } else {
        this.spotifyLogin()
      }
    },
    getImage() {
      const imgInput = this.$refs.imageInput
      imgInput.$refs.input.click()
    },
    changeSearchImage(i) {
      this.searchImage = i
    },
    startSearchText() {
      this.changeSearchText(
        'Type here to enter artists and songs like \nFourtet - Only Human\nKendrick Lamar - Alright'
      )
    }
  }
}
</script>
